/*******************************************************
 *
 * Mobile styles and other media queries
 *
 *******************************************************/

 
/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */ 
@media only screen and (max-width: 1440px) {

} 

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1199px) {

} 


/* iPad(portrait) | Galaxy Tab 4(portrait)  */ 
@media only screen and (max-width: 991px) {
    header::before{
        opacity: 90%;
        height: 100%;
    }
    .main-nav ul li a::after{
        opacity: 0;
    }
    .projects-inner{
        width: 100%;
        max-width: 500px;
        margin: auto;
    }
    .projects-item{
        padding: 30px;
        transform: scale(1) !important;
    }
    .projects-item img{
/*        transition: var(--default-transition);*/
    }
    .projects-item:hover img{
/*        transform: scale(1.05);*/
    }
    
} 

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */ 
@media only screen and (max-width: 767px) {
    header::before{
        opacity: 1;
        height: 100%;
    }
    .intro-title{
        text-align: center;
    }
    .smi ul{
        justify-content: center;
    }
    .intro-content > .row > .image-area{
        padding-top: 70px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .intro-content {
        padding: 200px 0 0;
    }
    .section-bg canvas{
        background-attachment: scroll;
    }
    .projects-title{
        font-size: 20px;
    }
    .logo-item img{
        max-width: 110px;
    }
}
@media only screen and (max-width: 580px){
    header .header-logo img{
        max-width: 40px;
    }
    .main-nav ul li{
        margin: 0 5px;
    }
}
/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */ 
@media only screen and (max-width: 480px) {
    
    .main-nav ul li a{
        font-size: 12px;
    }
    
    .section-title h1{
        font-size: 50px;
    }
    .intro-title h1{
        font-size: 60px;
    }
}
 
